{
  "branches": [
    {
      "name": "master"
    }
  ],
  "plugins": ["@semantic-release/commit-analyzer", "@semantic-release/release-notes-generator", "@semantic-release/github"],
  "release": {
    "branches": ["master", "main"]
  },
  "tagFormat": "v${version}"
}